{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
	<div class="col-sm-3 sidenav">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-sm-9">
    	<h1>{{ todo_list.title }}</h1>
    	{% if todo_list.todos|length > 0%}
    		<table class="table text-left">
    			<thead>
    				<tr>
    					<th>Задача</th>
    					<th>Описание</th>
    					<th>Дата добавления</th>
    				</tr>
    			</thead>
    			<tbody>
    				{% for each in todo_list.todos %}
    					<tr>
    						<td>{{ each.title }}</td>
    						<td>{{ each.description }}</td>
    						<td>{{ each.date_created }}</td>
                            <td>
                                <form action="{{ url_for('todo_del', list_id=each.list_id, todo_id=each.id) }}">  
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="Удалить">
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('todo_edit', list_id=each.list_id, todo_id=each.id) }}">  
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="text" name="new_title">
                                    <input type="submit" value="Изменить">
                                </form>
                            </td>
    					</tr>
    				{% endfor %}
    			</tbody>
    		</table>
    	{% else %}
    		<h3>На данный момент в этом списке нет задач.</h3>
    	{% endif %}		
    </div>
{% endblock %}