{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/todo-style.css', _external=True) }}">
{% endblock %}
{% block page_content %}
    <div class="col-sm-3 sidenav">
        {{ wtf.quick_form(form) }}
        <h3>Списки</h3>
        <ul class="list-group" id="side_list">
            {% for each in current_user.todo_lists %}
                <li class="list-group-item" id="{% if each.id == todo_list.id %}current{% endif %}">
                    <div>
                        <a class="list-link" href="{{ url_for('main.todo', list_id=each.id) }}">{{ each.title }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9">
        <h1>{{ todo_list.title }}</h1>
        {% if during|length > 0 %}
            <table class="table text-left">
                <thead>
                    <tr>
                        <th>Задача</th>
                        <th>Дата добавления</th>
                        <th>Дата окончания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in during %}
                        <tr class="{% if each.deadline and each.deadline <= now %}danger{% endif %}">
                            <td>{{ each.title }}</td>
                            <td>{{ each.date_created.strftime('%d.%m.%Y') }}</td>
                            <td>
                                {% if each.deadline %}
                                    {{ each.deadline.strftime('%d.%m.%Y') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <form action="{{ url_for('main.todo_del', list_id=each.list_id, todo_id=each.id) }}">  
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-info" data-toggle="modal" data-target="#{{ each.id }}">
                                    Описание
                                </button>
                                <div class="modal fade" id="{{ each.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Описание задачи "{{ each.title }}"</h4>
                                            </div>
                                            <div class="modal-body">
                                                    <form action="{{ url_for('main.todo_edit', list_id=each.list_id, todo_id=each.id) }}">
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <div class="form-group">
                                                            <label for="new_title">Название</label>
                                                            <input type="text" class="form-control" name="new_title" value="{{ each.title }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Описание</label>
                                                            {% if each.description %}
                                                                <textarea class="form-control" rows="3" name="description">{{ each.description }}</textarea>
                                                            {% else %}
                                                                <textarea class="form-control" rows="3" name="description"></textarea>
                                                            {% endif %}    
                                                        </div>    
                                                        <button type="submit" class="btn btn-warning">Сохранить и закрыть</button>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                            </td>
                            <td>
                                <form action="{{ url_for('main.mark_done', list_id=each.list_id, todo_id=each.id) }}">  
                                    <input type="hidden" name="_method" value="PATCH">
                                    <button type="submit" class="btn btn-success">Выполнить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif finished|length < 1 %}
            <h3>В этом списке пока что нет задач</h3>
        {% endif %}
        {% if finished|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Выполненные задачи
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table text-left">
                            <thead>
                                <tr>
                                    <th>Задача</th>
                                    <th>Описание</th>
                                    <th>Дата добавления</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in finished %}
                                    <tr>
                                        <td><s>{{ each.title }}</s></td>
                                        <td><s>{{ each.description }}</s></td>
                                        <td><s>{{ each.date_created.strftime('%d-%m-%Y') }}</s></td>
                                        <td>
                                            <form action="{{ url_for('main.todo_del', list_id=each.list_id, todo_id=each.id) }}">  
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger">Удалить</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{{ url_for('main.mark_done', list_id=each.list_id, todo_id=each.id) }}">  
                                                <input type="hidden" name="_method" value="PATCH">
                                                <button type="submit" class="btn btn-warning">Возобновить</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}	
    </div>    
{% endblock %}